.modifier-panel-border {
  border-right: 1px solid #0066a7;
  width: 285px;
}

.modifier-search-input {
  gap: 5px;
  width: 220px;
  height: 38px;
}

.modifier-trash-input {
  height: 38px;
  width: 38px;
}

.add-modifier-btn {
  height: 38px;
  padding: 6px 12px;
  width: auto;
}
